*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
.outerbox{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left,#3ed8ff, #a8f5ff );
}

    .innerbox{
        width: 400px;
        margin: 0 auto;
        position: relative;
        top: 40%;
        transform: translateY(-50%);
        padding: 20px 40px;
        /* background-color: white; */
        background: linear-gradient(to top left, #ffffffff, #ffffff00);
        backdrop-filter: blur(1px);
       
        border-radius: 8px;
        box-shadow: 2px 2px 5px #2773a5;
        z-index: 2;
     }
.Signup-header h1{
font-size: 2.5rem;
color: #212121;
}
.Signup-header p{
    font-size: 0.8rem;
    color: #555;
    margin-top:5px ;
}
.Signup-body p{
    margin: 10px 0;
}
.Signup-body p label{
    display:block;
    font-weight: bold;
}
.Signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 4px;
}
.Signup-body p input[type="submit"]{
    background-color: #3498db;
    border: none;
    color: white;
}
.Signup-body p input[type="submit"]:hover{
    background-color: #1e6fa5;
}
.Signup-footer{
    text-align: center;
    color: #555;
}
.Signup-footer p a{
    color:#3498db;
}
.circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right, #ffffff33, #ffffffff);
    position: absolute;
}
.c1 {
    top: 100px;
    left: 30%;
}

.c2 {
    bottom: 200px;
    right: 40%;
}
